doctype html 
html 
  head
    title This is my Contact
    block script 
    block style
  body
    nav#navbar.top 
            ul
               div#logo 
                   img(src="/static/img//logo.jpg", alt="")
                   |  Manish
               li #[a(href="/") Home]
               li #[a(href="/") About us]
               li #[a(href="/") Services]
               li #[a(href="/") Contact us]
  block content
   